:root {
  font-family: 'Alex Brush', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #000000;
  --color-blanco: #fff;
  --color-uno: #fdcae1;
  --color-dos: #9bfab0;
  --color-tres: #73d9bc;
  --color-cuatro: #d7a1f6;
  --color-cinco: #ffb888;
}

.navbar {
  background-color: var(--color-uno);
  color: var(--color-uno);
}

.nav-link,
.form-control {
  font-family: 'Roboto', sans-serif;
  color: var(--color-blanco);
}

a {
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
  font-size: 2em;
  text-decoration: none;
  margin: 0;
  color: #ffe4e1;
}

h2,
span {
  font-family: 'Roboto', sans-serif;
  font-size: 0.80rem;
  color: #ffe4e1;

}